/*
Theme Name: MagXP by MyThemeShop
Theme URI: http://mythemeshop.com/themes/magxp
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: MagXP is the ultimate Magazine WordPress Theme that has multiple layouts, is fully customizable and is the pinnacle of what a flexible and fully functional WordPress theme can be.
Version: 1.3
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto!important;
}
iframe { max-width: 100% }
blockquote {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: -5px;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 5px;
    text-align: center;
    margin-bottom: 15px;
}
.sticky {

}
.gallery-caption {

}
.gallery img { border: 0!important }
.gallery-item dt { width: 94% }
.bypostauthor {

}
.wp-caption-text { margin-bottom: 0 }
dl {

}
dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
/*-[ Framework ]--------------------*/
body {
    font: 14px/24px "Armata", sans-serif;
    color: #444;
    background: #e7e7e7;
    overflow: hidden;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.post-single-content {
    float: left;
    width: 100%;
}
.post-single-content h2 { font-size: 24px }
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    color: #565656;
    margin-bottom: 9px;
}
h1 { font-size: 28px }
h2 { font-size: 24px }
h3 { font-size: 22px }
h4 { font-size: 20px }
h5 { font-size: 18px }
h6 { font-size: 16px }
p { margin-bottom: 10px }
a {
    text-decoration: none;
    color: #3D8FE8;
    -webkit-transition: all 0.50s linear 0s;
    -o-transition: all 0.50s linear 0s;
    -moz-transition: all 0.50s linear 0s;
    -ms-transition: all 0.50s linear 0s;
    transition: all 0.50s linear 0s;
}
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container, .banner {
    width: 960px;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 0;
}
.main-container {
    padding: 0 1px;
    overflow: hidden;
}
#page, .container {
    max-width: 960px;
    min-width: 240px;
}
#page {
    padding-top: 25px;
    min-height: 100px;
    float: none;
    clear: both;
}
/*-[ Header ]-----------------------*/
body > header {
    float: left;
    width: 100%;
    position: relative;
}
.main-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99999;
    background: #151515;
}
.main-header .container { background: #fff }
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    min-height: 50px;
}
#header h1 a, #header h2 a {
    font-size: 24px;
    float: left;
    display: inline-block;
    line-height: 50px;
    position: relative;
    margin-bottom: 0;
}
.image-logo { margin-top: 8px }
.image-logo span { display: none }
#logo img { float: left }
.logo-wrap {
    overflow: hidden;
    float: left;
}
.text-logo {
    margin: 0;
    overflow: hidden;
}
.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left;
}
#header .header-search { float: right }
#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px;
}
/*-[ Navigation ]-----------------*/
.secondary-navigation li a {
    font-size: 14px;
    padding: 18px 15px;
    color: #fff;
}
.secondary-navigation li a.green.active {
    color: #5bd957;
    border-top: 5px solid;
    cursor: default;
}
.secondary-navigation {
    display: block;
    float: left;
    max-width: 100%;
    margin-left: 45px;
}
.secondary-navigation a {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9B9B9B;
}
#navigation {
    float: left;
    width: 100%;
}
#navigation ul { margin: 0 auto }
#navigation ul li {
    float: left;
    margin-right: 1px;
}
#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited { display: inline-block }
/* sub-menu */
#navigation ul li.menu-item-has-children > a {
    position: relative;
    padding-right: 26px;
}
#navigation ul li.menu-item-has-children > a:after {
    content: '\f107';
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 18px;
    right: 10px;
    top: 0;
}
#navigation ul ul li.menu-item-has-children > a:after {
    content: '\f105';
    right: 10px;
    top: 10px;
}
#header ul.sub-menu {
    position: absolute;
    border-bottom: 4px solid;
    width: 230px;
}
#header ul.sub-menu li {
    float: none;
    line-height: 1.6;
    background: #000;
    margin-right: 0;
}
#header ul.sub-menu li.menu-item-has-children:hover { position: relative }
#header ul.sub-menu li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-top-width: 0;
    padding: 13px 15px;
    line-height: inherit;
}
#header ul.sub-menu ul {
    width: 100%;
    left: 100%;
    top: 0;
}
#header ul.sub-menu ul li { border-left: 1px solid rgba(34, 34, 34, 0.25) }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
nav a#pull { display: none }
#navigation i.fa {
    margin-right: 6px;
    text-indent: 0;
}
#header .fa-search {
    font-size: 20px;
    padding: 0px 8px;
    line-height: 50px;
    height: 50px;
    float: right;
    color: rgba(255, 255, 255, 0.3);
}
.secondary-navigation li a { border-top: 4px solid }
.secondary-navigation li:hover, .secondary-navigation .current-menu-item { background: rgba(255, 255, 255, 0.05) }
.secondary-navigation li a {
    padding: 0px 15px;
    line-height: 46px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.secondary-navigation li a.active {
    border-top: 7px solid;
    cursor: default;
    line-height: 50px;
}
#wpmm-megamenu {
    border-bottom: 4px solid;
}

/*-[ Header Search ]------------------*/
.search-top #s {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #000;
    padding: 13px;
    border: 0;
    width: 35%;
    border-bottom: 3px solid #3D8FE8;
    color: #a6a6a6;
    font-size: 15px;
    z-index: -9999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 0;
    opacity: 0;
}
.search-top #s.active {
    top: 50px;
    opacity: 1;
}
.search-top.ajax-search-box-open #s { border-bottom: 1px solid #3D8FE8 }
.search-top #s::-webkit-input-speech-button { margin-right: 0px }
.search-top .ajax-search-results-container {
    width: 35%;
    left: auto;
    right: 0;
    top: 96px;
    background: #000;
    border: none;
    border-bottom: 2px solid #3D8FE8;
    color: #a5a5a5;
    font-size: 14px;
}
.search-top .ajax-search-results-container.loading:after { background-color: rgba(0,0,0,0.8) }
.search-top .ajax-search-results-container a { color: #fff }
.search-top .ajax-search-results li, .search-top .ajax-search-meta { clear: both }
.search-top .ajax-search-results .wp-post-image { float: left }
/*hover*/
a:hover, .fa-search:hover, .sidebar.c-4-12 a:hover, .f-widget a:hover, .star-rating-thumbs .icon-star:hover, .main-container .single_post-img header .post-info a:hover, #copyright-note a:hover, .banner-content .post-info a:hover, .main-container .single_post-img header .single-title a:hover {
    color: #3D8FE8;
    -webkit-transition: all 0.50s linear 0s;
    -o-transition: all 0.50s linear 0s;
    -moz-transition: all 0.50s linear 0s;
    -ms-transition: all 0.50s linear 0s;
    transition: all 0.50s linear 0s;
}
/*Background-Hover*/
#header .fa-search:hover, .social a:hover, #searchform .icon-search:hover, #move-to-top:hover, #copyright-note .toplink:hover {
    background: #3D8FE8;
    color: #fff;
    -webkit-transition: all 0.50s linear 0s;
    -o-transition: all 0.50s linear 0s;
    -moz-transition: all 0.50s linear 0s;
    -ms-transition: all 0.50s linear 0s;
    transition: all 0.50s linear 0s;
}
/*-[ Content ]--------------------*/
.article, .woocommerce.archive .article, .single-product.woocommerce .article {
    width: 66%;
    float: left;
    padding: 0;
}
#content_box {
    float: left;
    width: 100%;
}
#content_box .featured-category-title {
    margin-bottom: 20px;
    line-height: 1;
}
#content_box.orange h2 { color: #3D8FE8 }
#content_box.blue h2, .related-posts.blue h2 { color: #57a5d9 }
#content_box.skyblue h2 { color: #57A5D9 }
#content_box.rose h2, .related-posts.rose h2 { color: #D95791 }
#content_box.green h2 { color: #5BD957 }
#content_box.pink h2 { color: #d95773 }
#content_box.aqua h2 { color: #3FCED9 }
#content_box.androidGreen h2 { color: #99B432 }
.single_post {
    background-color: #fff;
    width: 100%;
    padding: 3%;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.single_page {
    background-color: #FFF;
    padding: 3%;
    width: 94%;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.post-content {
    overflow: hidden;
    clear: both;
}
.readMore { float: right }
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.featured-thumbnail {
    float: left;
    width: 100%;
    overflow: hidden;
}
#featured-thumbnail {
    float: left;
    width: 100%;
    border-bottom: 4px solid #565656;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    display: inherit;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.latestPost:hover .featured-thumbnail img {
    -moz-transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}
.title {
    margin-bottom: 5px;
    line-height: 41px;
    clear: both;
}
.single-title {
    font-size: 26px;
    color: #3E3E3E;
    float: left;
    padding: 0 0 0 0;
    text-transform: uppercase;
    width: 100%;
}
.title a { color: #565656 }
.page h1.title { padding-top: 0 }
.post-info {
    display: block;
    color: #A5A5A5;
    float: left;
    clear: both;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}
.post-info span { margin-right: 10px }
.post-info i { margin-right: 2px }
.latestPost .post-info a, .single_post .post-info a { color: #a5a5a5 }
.thecategory { margin-left: 5px }
/**********latest-posts***********/
.featured-category-title a, .photo-gallery > h3 { color: #222 }
.latestPost header {
    padding-top: 20px;
    overflow: hidden;
}
.single article header { margin-bottom: 10px }
.latestPost {
    width: 32%;
    float: left;
    margin-bottom: 25px;
    margin-right: 1.9%;
    border: 0px;
    background: #fff;
    min-height: 230px;
    overflow: hidden;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}
.latestPost.last { width: 32.1% }
.latestPost .title {
    display: block;
    line-height: 1.4;
    font-size: 15px;
    padding: 0px 10px;
    margin-bottom: 5px;
}
.mts-grid-layout .latestPost .title a, .single .related-posts .latestPost .title a { font-size: 15px }
.mts-grid-layout .latestPost:nth-of-type(3n-8), .single .related-posts .latestPost:nth-of-type(3n-8) { clear: left }
.single .ss-full-width .related-posts .latestPost:nth-of-type(3n-8) { clear: none }
.related-posts .latestPost:nth-last-child(3), .related-posts .latestPost:nth-last-child(2), .related-posts .latestPost:last-child { margin-bottom: 0 }
.latestPost .categories {
    position: absolute;
    bottom: -23px;
    left: 0px;
    padding: 3px 10px;
    background: #565656;
    margin-bottom: 10px;
}
.latestPost .post-info {
    padding: 0px 10px 8px;
    font-size: 12px;
    display: block;
}
.latestPost .post-info .thetime {
    float: right;
    margin-right: 0;
}
.latestPost .featured-post { position: relative }
.latestPost .categories a {
    color: #fff;
    font-size: 14px;
}
.latestPost-review-wrapper {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    line-height: 1;
    z-index: 10;
}
.latestPost-review-wrapper .percentage-icon {
    font-size: inherit;
    top: 0;
}
.latestPost-review-wrapper .review-type-star {
    font-size: 12px;
    padding: 3px 6px;
}
.latestPost-review-wrapper .review-total-star {
    font-size: 12px;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
}
.latestPost-review-wrapper .review-result-wrapper i {
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.latestPost-review-wrapper .review-result-wrapper .review-result i {
    opacity: 1;
    filter: alpha(opacity=100);
}
.mts-blog-layout .latestPost {
    width: 100%;
    margin-right: 0;
    height: auto;
    padding-bottom: 10px;
}
.mts-blog-layout .latestPost .post-info {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.mts-blog-layout .latestPost .title { font-size: 26px }
.mts-blog-layout .latestPost .post-info .thetime { float: none }
.front-view-content { padding: 0 10px }
.readMore { padding: 0 10px }
.single_post header {
    width: 100%;
    margin-bottom: 8px;
}
article img.left, article img.alignleft, .wp-caption.alignleft {
    margin: 10px 15px 10px 0;
    display: block;
    float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
    margin: 10px 0 10px 15px;
    display: block;
    float: right;
}
article img.center, article img.aligncenter {
    margin: 0.3em auto 0.4em auto !important;
    display: block;
    width: 100%;
}
article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
article ul {
    margin: 0.5em 0 0.571em 1.6em;
    list-style-type: square;
}
article ol {
    margin: 0.5em 0 0.571em 1.6em;
    list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }
.main-container .single_post-img {
    position: relative;
    overflow: hidden;
}
.main-container .single_post-img img {
    width: 100%;
    float: left;
}
.main-container .single_post-img header {
    position: absolute;
    bottom: 0px;
    padding: 3%;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-container .single_post-img header .post-info { font-size: 12px }
.main-container .single_post-img header .single-title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-transform: none;
    margin-bottom: 0;
}
.main-container .single_post-img header i { margin-right: 5px }
.main-container .single_post-img header .post-info, .main-container .single_post-img header .post-info a, .main-container .single_post-img header .post-info .thetime { color: #fff }
.single .slides-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px -54px 100px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0px -54px 100px 0px rgba(0, 0, 0, 0.55);
    box-shadow: inset 0px -54px 100px 0px rgba(0, 0, 0, 0.55);
    z-index: 10;
}
/*-[ No-sidebar template ]---------------------------*/
.ss-full-width .postauthor, .ss-full-width #comments, .ss-full-width #commentsAdd { width: 100% }
.ss-full-width .latestPost {
    width: 23%;
    margin-right: 2.6%;
}
.ss-full-width .single_post { padding: 3% 2.5% }
/*-[ WP Review Widget & WP Tab Widget ]---------------------------*/
.widget .widget_wp_review_tab .review-total-only.large-thumb {
    top: 15px;
    right: 15px;
}
.widget .wp_review_tab_widget_content ul.wp-review-tabs li, .widget .wp_review_tab_widget_content, .widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title a, .widget .wpt_widget_content ul.wpt-tabs li { border: none }
.widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title a, .widget .wpt_widget_content .wpt-tabs.has-4-tabs .tab_title a {
    border-bottom: 1px solid #3F3F3F;
    border-right: 1px solid #3F3F3F;
}
.widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title:nth-child(2n) a, .widget .wpt_widget_content .wpt-tabs.has-4-tabs .tab_title:nth-child(2n) a { border-right: none }
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {
    background: #000;
    color: #7E7D7D;
    border: none;
    padding: 14px 0;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
}
.widget .wpt_widget_content .tab_title.selected a, .widget .wp_review_tab_widget_content .tab_title.selected a {
    background: #000;
    color: #3D8FE8;
    border-bottom: 0;
}
.widget .wpt_widget_content .pagination, .widget .wp_review_tab_widget_content .pagination { padding-bottom: 15px }
.widget .wpt_widget_content .tab_title.selected a:before, .widget .wp_review_tab_widget_content .tab_title.selected a:before {
    content: "";
    height: 3px;
    background: #3D8FE8;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}
.widget .wp_review_tab_widget_content .inside, .widget .wpt_widget_content .inside {
    padding-top: 0;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.widget .review-total-only.small-thumb, .widget .review-total-only { font-size: 13px }
.widget .review-total-only.large-thumb, .widget li:first-child .review-total-only.large-thumb { top: 15px }
footer .review-total-only.small-thumb .review-result-wrapper i { color: #fff!important }
.sidebar .widget .wpt_widget_content ul.has-4-tabs li { border-bottom: 0 }
.widget .wpt_widget_content #tags-tab-content ul {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 15px;
    padding-bottom: 10px;
}
.widget .wpt_widget_content { border: 0 }
footer .widget .wp_review_tab_widget_content .inside, footer .widget .wpt_widget_content .inside { background: rgba(255, 255, 255, 0.05) }
footer .widget .wp_review_tab_widget_content .tab-content li, footer .widget .wpt_widget_content .tab-content li { border-bottom-color: rgba(255, 255, 255, 0.05) }
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .widget .wpt_excerpt, .widget .wp_review_tab_widget_content .wp-review-tab-postmeta {
    color: #aaa;
    font-size: 13px!important;
    line-height: 1.6;
}
footer .widget .wpt_widget_content .wpt-postmeta, footer .widget .wpt_comment_content, footer .widget .wpt_excerpt, footer .wp_review_tab_widget_content .wp-review-tab-postmeta { color: rgba(255, 255, 255, 0.25) }
footer .widget .wpt_widget_content .tab_title a, footer .widget .wp_review_tab_widget_content .tab_title a {
    background: rgba(255, 255, 255, 0.14);
    color: #fff;
}
footer .widget .wpt_widget_content .tab_title.selected a, footer .widget .wp_review_tab_widget_content .tab_title.selected a {
    background: rgba(255, 255, 255, 0.20);
    color: #fff;
}
footer .widget .wp_review_tab_widget_content .tab-content li:first-child, footer .widget .wpt_widget_content .tab-content li:first-child { padding-top: 15px }
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .fa { display: list-item }
.widget_nav_menu .fa > a { padding-left: 5px }
.sidebar .widget.widget_nav_menu ul li, .sidebar .widget.widget_nav_menu ul li:first-child {
    margin: 0px;
    border-bottom: none;
    padding: 0;
}
.sidebar .widget_nav_menu a {
    margin: 0px;
    border-bottom: 1px solid #EDEDED;
    padding: 15px;
}
/*-[ Text Widget ]---------------------------*/
.textwidget { line-height: 23px }
.sidebar .textwidget {
    background: #fff;
    padding: 15px;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/*-[ Trending Widget ]---------------------------*/
.trending-posts {
    padding-top: 15px;
    padding-bottom: 11px;
}
.trending-posts li {
    padding: 0 15px 4px !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}
.f-widget .trending-posts { padding-top: 0 }
.f-widget .trending-posts li { padding: 0 0 4px !important }
.widget .bar {
    background: #3D8FE8;
    display: block;
    overflow: hidden;
    color: #fff !important;
}
.widget .bar-style {
    position: relative;
    overflow: hidden;
    min-height: 70px;
    -webkit-transition: all 0.50s linear 0s;
    -o-transition: all 0.50s linear 0s;
    -moz-transition: all 0.50s linear 0s;
    -ms-transition: all 0.50s linear 0s;
    transition: all 0.50s linear 0s;
}
.widget .bar:hover .bar-style { background: rgba(0, 0, 0, 0.1) }
.widget .bar-style h4 {
    font-size: 13px;
    color: #fff;
    padding: 10px 30px 10px 10px;
}
.widget .bar-style .vertical-text {
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.widget .bar-style span {
    position: absolute;
    top: 48%;
    right: 0;
    margin-top: -5px;
    width: 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    color: #FFF;
    font-size: 13px;
    line-height: 1;
    text-align: center;
}
/*-[ Top Posts Widget ]---------------------------*/
.top-posts li { line-height: 1.4 }
.top-posts .postinfo { margin-left: 40px }
.top-posts .postinfo a {
    display: block;
    overflow: hidden;
}
.top-posts .number {
    font-size: 40px;
    float: left;
    line-height: 1;
    width: 30px;
}
footer .top-posts .number { color: rgba(255, 255, 255, 0.45) }
.top-posts .comment_num {
    color: #aaa;
    font-size: 13px!important;
}
.f-widget .top-posts .comment_num, footer .meta, footer .twitter_time { color: rgba(255, 255, 255, 0.25) }
/*-[ Two-columns layout in bottom footer ]------------------*/
.footer-widgets .widget_categories > ul, .footer-widgets .widget_nav_menu > div > ul, .footer-widgets .widget_pages > ul, .footer-widgets .widget_meta > ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.footer-widgets .widget_categories > ul li, .footer-widgets .widget_nav_menu > div > ul li, .footer-widgets .widget_pages > ul li { margin-bottom: 0 }
.footer-widgets .widget_categories a, .footer-widgets .widget_nav_menu a, .footer-widgets .widget_pages a {
    display: block;
    margin-bottom: 10px;
}
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #D0D0D0;
    border: 1px solid #E0E0E0;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
    color: #444;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #EDEDED;
}
thead {
    background: #3D8FE8;
    font-size: 14px;
    color: #fff;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #F5F7F9;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
.sidebar .widget_search.widget h3, .sidebar .widget.mts_subscribe_widget h3 { margin-bottom: 15px }
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
    right: 0px;
    top: 0px;
    float: right;
    border: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: white;
    -webkit-transition: all 0.50s linear;
    -moz-transition: all 0.50s linear;
    transition: all 0.50s linear;
    background: transparent;
    position: absolute;
    border: 0;
    vertical-align: top;
}
#searchform .fa-search {
    font-size: 19px;
    top: 0px;
    color: #a1a1a1;
    background: #DDDCDC;
    position: absolute;
    right: 0px;
    padding: 12px 12px 11px;
    cursor: pointer;
    -webkit-transition: all 0.50s linear;
    -moz-transition: all 0.50s linear;
    transition: all 0.50s linear;
}
#s {
    width: 97%;
    background-color: #fff;
    float: left;
    padding: 12px 0;
    height: 42px;
    color: #A5A5A5;
    -webkit-transition: all 50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
    text-indent: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#s:focus {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
#searchform fieldset { width: 100% }
.breadcrumb { margin-bottom: 15px }
.breadcrumb > a, .breadcrumb > span {
    padding: 4.5px 20px;
    background: #FFF;
    position: relative;
    display: inline-block;
    border: 1px solid #EBEBEB;
    font-size: 13px;
    color: #3E3E3E;
}
.breadcrumb a { color: #3E3E3E }
.breadcrumb a.active {
    color: #fda55f;
    cursor: default;
}
.breadcrumb .arrow:before {
    content: "";
    right: -10px;
    position: absolute;
    top: -1px;
    right: -13px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 0 17px 13px;
    border-color: transparent transparent transparent #ffffff;
    z-index: 100;
}
.breadcrumb .arrow:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 0 17px 13px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eee;
    z-index: 10;
}
.breadcrumb > span:hover { background: rgba(238, 238, 238, 0.5) }
.breadcrumb > span:hover .arrow:before { border-left-color: rgba(248, 248, 248, 1) }
.no-results h2 {
    font-size: 15px;
    margin-bottom: 15px;
}
.search-no-results .article {
    padding: 3%;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.search-no-results .postsby { margin-bottom: 10px }
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #D0D0D0 }
:-moz-placeholder { color: #D0D0D0 }
::-moz-placeholder { color: #D0D0D0 }
:-ms-input-placeholder { color: #D0D0D0 }
:input-placeholder { color: #D0D0D0 }
footer ::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.2) }
footer :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.2);
}
footer ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.2);
}
footer :-ms-input-placeholder { color: rgba(255, 255, 255, 0.2) }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
    margin-right: 44px;
    margin-left: 4px;
    cursor: pointer;
}
#searchform fieldset { width: 100% }
.breadcrumb { margin-bottom: 15px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
#sidebars p { line-height: 20px }
.sidebar.c-4-12 {
    float: right;
    width: 31.3%;
    line-height: 20px;
    max-width: 300px;
}
.sidebar.c-4-12 a { color: #565656 }
#sidebars .wp-post-image, footer .wp-post-image {
    margin-bottom: 0;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 0;
}
.widget {
    margin-bottom: 20px;
    float: left;
    clear: both;
    width: 100%;
}
.widget:last-child { margin-bottom: 0px }
.sidebar .widget h3 {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background: #000;
    padding: 12px 15px;
    margin-bottom: 0;
}
.sidebar .widget ul {
    background: #FFF;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.sidebar .widget ul ul {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar .widget ul ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.sidebar .widget ul li {
    margin: 0px;
    list-style: none;
    border-bottom: 1px solid #EDEDED;
    padding: 15px;
}
.sidebar .widget ul li:last-child { border-bottom: 0 }
.sidebar .widget ul ul li:last-child { padding-bottom: 0 }
.meta, .twitter_time {
    font-size: 13px!important;
    color: #A5A5A5;
    overflow: hidden;
    line-height: 1.6;
}
/* clearfix */
.widget ul li:after {
    content: "";
    display: block;
    clear: both;
}
.sidebar .widget ul li:first-child { padding-top: 15px }
.widget ul li .wp-post-image { float: left }
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget ul.slider2 { margin: 0px }
.widget ul.slider2 a.hover { color: #3D8FE8 }
.widget ul .slide {
    list-style: none;
    width: 125px !important;
    float: left;
    margin-left: 17px;
    margin-bottom: 0px;
}
.widget ul .gallery-img { margin-bottom: 10px }
#sidebars .big-thumb, footer .big-thumb { margin-bottom: 5px }
/* Widget Slider */
.widget ul .slide:last-child { margin: 0px }
.widget.advertising {
    background: #fff;
    padding: 20px 5% 0 5%;
    width: 90%;
}
.widget .ad {
    float: left;
    margin-right: 6%;
    width: 47%;
    margin-bottom: 5%;
}
.widget .ad:nth-child(2n) { margin-right: 0 }
.widget .latestpost {
    padding: 0px;
    margin: 0px;
}
.widget .latestpost .content { overflow: hidden }
.widget .latestpost .post-img {
    float: left;
    margin-right: 15px;
}
.widget .latestpost li {
    margin: 0px;
    list-style: none;
    border-bottom: 1px solid #ededed;
    padding: 15px;
}
.widget .latestpost li h4 {
    font-size: 15px;
    line-height: 1.6;
}
.widget .latestpost .theauthor, .widget .latestpost .theauthor a {
    display: inline-block;
    font-size: 12px;
    color: #a5a5a5;
}
.widget .tabs {
    padding: 0px;
    background: #fff;
}
.widget .ui-tabs .ui-tabs-nav { padding: 0px }
.widget .tabs .ui-state-default {
    background: #151515;
    margin: 0px;
    padding: 0px;
    width: 50%;
}
.widget .tabs .ui-state-default a {
    color: #fff;
    font-size: 15px;
    border-top: 3px solid #151515;
    height: 41PX;
    line-height: 41px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.widget .tabs .ui-tabs-nav li.ui-tabs-active a {
    border-top: 3px solid #3D8FE8;
    background: #000;
    color: #3D8FE8;
    cursor: default;
}
.widget .tabs .ui-tabs-panel { padding: 15px 0 0 0 }
.widget .tabs .ui-tabs-panel .latestpost li a {
    font-size: 15px;
    line-height: 1.5;
}
.widget .tabs .ui-tabs-panel .latestpost li {
    padding: 0px 15px 13px 15px;
    margin-bottom: 15px;
}
.widget .tabs .ui-tabs-panel .latestpost li .post-info {
    float: none;
    clear: none;
    margin: 0px;
    font-size: 12px;
}
.widget .tabs .ui-tabs-panel .latestpost li .post-info { margin-top: 4px }
.widget .tabs .ui-tabs-panel .latestpost li .theauthor {
    float: left;
    margin: 0px;
}
.widget .tabs .ui-tabs-panel .latestpost li .post-info .theauthor a {
    font-size: 12px;
    margin: 0px;
}
.widget .tabs .ui-tabs-panel .latestpost li .thetime {
    color: #a5a5a5;
    float: right;
    margin: 0px;
}
.widget .tabs .ui-tabs-panel .latestpost li:last-child { margin: 0 }
.trending ul li {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 2px;
}
/*-[ Social Buttons ]--------------------------*/
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit {
    padding: 12px 0 7px;
    overflow: hidden;
    clear: both;
    border: none;
}
.share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
}
.share-item.shareit.top {
    float: left;
    margin-bottom: 10px!important;
    margin-top: 0;
    width: 100%;
}
.share-item.facebookbtn {
    margin-top: -1px;
    width: 100px;
    height: 28px;
}
.share-item.gplusbtn { width: 85px }
.share-item.pinbtn { margin-top: 2px }
.share-item.stumblebtn {
    margin-top: 1px;
    height: 24px;
}
/*-[ Facebook Like Box Widget ]--------------------------*/
.fb_iframe_widget { display: block!important }
.facebook_like > div {
    background: #fff;
    width: 100%;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/*-[ Social Profile Widget ]--------------------------*/
.sidebar .widget .social-profile-icons {
    overflow: hidden;
    padding-top: 8px;
    background: #FFF;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding-left: 13px;
}
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 8px 8px 0!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.sidebar .social-profile-icons ul li a:hover {
    color: #fff;
    background: #666;
}
.sidebar .social-profile-icons ul li a { color: #fff }
.f-widget .social-profile-icons ul li a:hover { color: #111 !important }
.f-widget .social-profile-icons ul li a {
    color: #111;
    background: rgba(255, 255, 255, 0.3);
}
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 32px;
}
.social-profile-icons .social-youtube a { background: #DD4B39 }
.social-profile-icons .social-rss a { background: #EE802F }
.social-profile-icons .social-twitter a { background: #55ACEE }
.social-profile-icons .social-facebook a { background: #3B5998 }
.social-profile-icons .social-gplus a { background: #DD4B39 }
.social-profile-icons .social-vimeo a { background: #4BF }
.social-profile-icons .social-dribbble a { background: #EA4C89 }
.social-profile-icons .social-tumblr a { background: #34526F }
.social-profile-icons .social-instagram a { background: #3F729B }
.social-profile-icons .social-flickr a { background: #FF0084 }
.social-profile-icons .social-pinterest a { background: #C8232C }
.social-profile-icons .social-linkedin a { background: #0e76a8 }
.social-profile-icons .social-github a { background: #171515 }
.social-profile-icons .social-email a { background: #CACACA }
/*-[ Footer ]-------------------*/
footer {
    background: #0e0e0e;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    clear: both;
}
footer .container {
    padding: 0;
    width: 96%;
}
.footer-widgets {
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.25);
}
.footer-widgets .f-widget {
    width: 32%;
    margin-right: 2%;
    float: left;
}
.footer-widgets .f-widget #searchform .fa-search:hover { cursor: pointer }
.bottom-footer-widgets {
    padding: 30px 0 20px;
    background: #151515;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.bottom-footer-widgets .f-widget {
    float: left;
    margin-right: 20px;
    margin-right: 2%;
}
.footer-widgets h3, .bottom-footer-widgets h3 {
    margin-bottom: 20px;
    color: #3D8FE8;
    font-size: 20px;
}
.f-widget a { color: rgba(255, 255, 255, 0.45) }
.f-widget ul li { margin-bottom: 10px }
.f-widget .top-week li a { font-size: 15px }
.f-widget #s {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 85.8%;
}
.f-widget #s::-webkit-input-speech-button { margin-right: 8px }
.f-widget #searchform .fa-search {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
}
.widgets-4-columns .f-widget {
    width: 22.7%;
    margin-right: 3%;
}
.f-widget .ajax-search-results-container {
    background: #1c1c1c;
    color: #a5a5a5;
}
.f-widget .ajax-search-results-container.loading:after { background-color: rgba(0,0,0,0.8) }
.f-widget .ajax-search-results-container a { color: #fff }
.copyrights {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 12px;
    padding-top: 15px;
    background: #151515;
    -webkit-box-shadow: 0px -3px 3px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -3px 3px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -3px 3px -2px rgba(0, 0, 0, 0.1);
    font-size: 13px;
}
#copyright-note {
    width: 960px;
    margin: 0 auto;
    clear: both;
    max-width: 100%;
    color: #7e7d7d;
}
#copyright-note a { color: #7e7d7d }
#copyright-note > span { float: left }
#copyright-note > div { float: right }
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
#move-to-top {
    color: rgba(255, 255, 255, 0.58);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    position: fixed;
    right: 8px;
    bottom: 8px;
    transition: all 0.25s linear 0s;
    z-index: 9999;
    background: #2c2c2c;
}
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-chevron-up { font-size: 14px }
/*-[ Related Posts ]---------------------------*/
.related-posts {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 30px;
}
.related-posts h4 {
    font-size: 24px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.related-posts .post-info {
    clear: none;
    float: none;
}
.related-posts .latestPost:nth-child(4), .related-posts .latestPost:nth-child(5), .related-posts .latestPost:nth-child(6) { margin-bottom: 0 }
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 10px 0 0 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor .author-info {
    margin: 0;
    padding: 20px;
    background-color: #FFF;
    float: left;
    clear: both;
    width: 100%;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.postauthor h4 {
    font-size: 24px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    margin-top: 30px;
}
.postauthor h5 {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: capitalize;
}
.postauthor img {
    float: left;
    margin: 4px 20px 0 0;
}
.postauthor h4 a { color: #473636 }
.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
.postauthor p {
    padding-top: 0px;
    margin-top: 8px;
    margin-bottom: 0;
    overflow: hidden;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0px !important }
/*-[ Facebook widget ]------------------------------*/
.fb_iframe_widget > span { width: 100%!important }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: 14px!important;
    padding: 2px 10px;
    margin-bottom: 3px;
    float: none;
    display: inline-block;
    margin-right: 0;
    background: #EE210B;
    color: #FFFFFF!important;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.tagcloud a:hover { background: #000 }
.tagcloud { text-align: center }
.sidebar .widget_tag_cloud h3 { margin-bottom: 15px }
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    height: 42px;
    float: left;
    padding: 11px 0;
    text-indent: 10px;
    border-right: 0;
}
footer .mts-subscribe input[type="text"] {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.2);
}
#mts_subscribe_widget { border: 1px solid #F1F1F1 !important }
.mts-subscribe {
    overflow: hidden;
    position: relative;
}
.mts-subscribe input[type="submit"] {
    background: #DDDCDC;
    cursor: pointer;
    color: #A1A1A1;
    padding: 12px 0;
    border: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    float: left;
    height: 42px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 100px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.mts-subscribe input[type="submit"]:hover { background: #222 }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-right: 0!important;
    padding-left: 5%!important;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 48%;
    border-bottom: 0!important;
}
footer .ad-125 li, footer .ad-125 li:nth-child(2n+2) { padding: 0!important }
.ad-125 li:nth-child(2n+2) {
    float: right!important;
    padding-right: 5%!important;
    padding-left: 0!important;
}
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
    margin-bottom: 0;
    background: #fff;
    border: 0;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}
#wp-calendar caption {
    padding-bottom: 10px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    background: #000;
    padding: 12px 15px;
    text-align: left;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
footer #wp-calendar {
    background: rgba(255, 255, 255, 0.05);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
footer #wp-calendar caption { background: rgba(255, 255, 255, 0.05) }
#wp-calendar td { border-color: rgba(255, 255, 255, 0.05) }
#wp-calendar tbody tr:nth-child(1) td { border-top: 0 }
/*-[Comments]--------------*/
.total-comments {
    font-size: 24px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.cnumber { color: #2DB2EB }
#comments {
    margin-top: 30px;
    float: left;
    clear: both;
    width: 100%;
}
#respond h4 {
    font-size: 26px;
    color: #3E3E3E;
    margin-bottom: 25px;
}
#commentsAdd {
    background-color: #fff;
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#comments .avatar {
    float: left;
    margin-right: 15px;
    margin-top: 4px;
}
input, #commentform input { padding: 11px }
input#author, input#email, input#url {
    border: 1px solid #dddcdc;
    background: #fff;
    max-width: 100%;
    margin-right: 10px;
    display: inherit;
    background: #f5f5f5;
    width: 96%;
    color: #555;
}
#author:focus, #email:focus, #url:focus, #comment:focus {
    background: #fff !important;
    border: 1px solid #3D8FE8;
}
input#author, input#email, input#url, #comment, .f-widget #s, .search-top .hideinput {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    color: #EE210B;
    cursor: pointer;
    margin-bottom: -20px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
#commentform input#submit {
    background-color: #3D8FE8;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #fff;
    text-decoration: none;
    float: right;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#commentform input#submit:hover {
    background: #eb872d;
    color: #fff;
}
ol.commentlist {
    margin-left: 0;
    margin-top: 0;
    padding: 20px;
    background-color: #FFF;
    float: left;
    clear: both;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.commentlist li {
    list-style: none;
    margin: 0 0 20px 0;
    padding-left: 0;
    float: left;
    width: 100%;
    position: relative;
}
.commentlist p { margin-bottom: 5px }
.ago {
    color: #a5a5a5;
    font-size: 12px;
}
.fn {
    line-height: 1.375em;
    font-weight: bold;
}
.fn a {
    color: #3D8FE8;
    font-weight: bold;
    font-size: 15px;
}
.comment-meta { font-size: 12px }
.commentmetadata { overflow: hidden }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.comment-author { overflow: hidden }
.author-details {
    overflow: hidden;
    border-bottom: 1px solid #D4D8DB;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.comment-author .comment-reply-link {
    float: right;
    color: #3D8FE8;
}
.reply {
    margin-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    width: 100%;
    float: right;
}
.reply a {
    font-weight: bold;
    float: left;
    padding: 0 0px;
    color: #BDBDBD;
    font-size: 12px;
}
#commentsAdd #respond h4 { margin-bottom: 19px }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
    margin-left: 15%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 85%;
}
.commentlist .children li { padding-bottom: 0 }
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 95.5%;
    border: 1px solid #DDDCDC;
    background: #F5F5F5;
    padding: 2%;
    line-height: 25px;
    font-family: inherit;
    color: #555;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p label {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 14px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.single .pagination {
    padding: 10px 0 0 0;
    margin-bottom: 0;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li { float: left }
.currenttext { margin-right: 15px }
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext {
    color: #fff;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    padding: 10px 13px;
    background: #3D8FE8;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    min-width: 35px;
    min-height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.pagination a {
    font-size: 15px;
    background: #fff;
    margin: 0 15px 10px 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    color: #a5a5a5;
    padding: 10px 13px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    min-width: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.single .pagination a {
    background: transparent;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
.single .pagination a .currenttext { margin-right: 0 }
.pagination a:hover { color: #fff }
.pagination .nav-next { float: right }
.pagination .nav-next a { margin-right: 0 }
.pagination .nav-previous a { margin-right: 0 }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #FFF }
.ajax-search-results-container {
    position: absolute;
    top: 41px;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    z-index: 9;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-top: none;
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.sidebar ul.ajax-search-results {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ajax-search-results li {
    margin: 0;
    display: block;
    list-style: none;
    min-height: 70px;
    padding: 0 20px;
    margin-bottom: 10px;
}
.ajax-search-results .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}
.ajax-search-meta {
    margin: 10px 20px;
    height: 20px;
    font-size: 13px;
}
.sidebar .ajax-search-meta { margin-top: 0 }
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -o-transition: width 0.8s;
    transition: width 0.8s;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts { clear: both }
#load-posts a {
    background: #fff;
    padding: 6px 12px;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    float: left;
}
#load-posts a.inactive { cursor: default }
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    position: relative;
    font-family: monospace;
    background: #222;
    color: #fff;
    padding: 15px;
    line-height: 1.4;
    border: 1px solid #000;
    margin: 15px 0;
}
pre:before {
    content: "\f121";
    position: absolute;
    font-size: 18px;
    right: 1px;
    top: -2px;
    font-family: fontawesome;
}
/*-[ pagination Two]------------------*/
.single .pagination-single {
    margin: 30px 0 0;
    padding: 0;
}
.pagination-single li {
    width: 48%;
    position: relative;
}
.pagination-single li i {
    font-size: 40px;
    float: left;
    clear: both;
    position: absolute;
    line-height: 29px;
    top: 50%;
    margin-top: -14px;
}
.pagination-single li .fa-angle-right {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
.single .pagination-single li a { background: #000 }
.single .pagination-single li a {
    line-height: 1.4;
    padding: 20px 15px;
    font-size: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pagination-single li:nth-child(1) a { padding-left: 20% }
.pagination-single li:nth-child(1) a i { left: 7.2% }
.pagination-single li:nth-child(2) a i { right: 7.2% }
.pagination-single li:nth-child(2) a { padding-right: 20% }
.pagination-single li:nth-child(1) { float: left }
.pagination-single li:nth-child(2) { float: right }
.pagination-single li:nth-child(1) a, .pagination-single li:nth-child(2) a {
    margin: 0;
    text-align: left;
    overflow: hidden;
    min-height: 82px;
}
.pagination-single li .currenttext {
    margin: 0px;
    line-height: 1.4;
    padding: 20px 15px;
    font-size: 15px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
    float: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: auto;
}
.widget.woocommerce .amount {
    color: #85AD74;
    font-weight: normal;
    font-size: 14px;
}
.widget.woocommerce del .amount {
    font-size: 13px;
    color: rgba(145, 145, 145, 0.5);
    font-weight: normal;
}
/*-[ WooCommerce Cart ]------------------*/
.mts-cart {
    left: 0px;
    top: 5px;
    z-index: 1;
    float: right;
    line-height: 50px;
    font-size: 12px;
    margin-right: 5px;
}
.mts-cart > span:first-child { margin-right: 10px }
.mts-cart .fa, .mts-cart a { color: rgba(255, 255, 255, 0.5) }